<!-- sidebar-donate.html -->
<div class="sidebarComics">
    <div class="productTitle">给作者打赏：</div>

<!--    <img border="0" alt="打赏二维码" src="/assets/img/donate.png" />-->

    <div class="reward">
        <div class="reward-button">赏 <span class="reward-code">
            <span class="wechat-code"> <img class="wechat-img wdp-appear" src="/assets/img/donate-wechat.png"><b>微信打赏</b> </span>
            <span class="alipay-code"> <img class="alipay-img wdp-appear" src="/assets/img/donate-alipay.png"><b>支付宝打赏</b> </span>
        </div>
        <p class="reward-notice">您的打赏是对我最大的鼓励！</p>
    </div>
</div>
<!-- /sidebarComics -->
<div style="clear:both;"></div>

