{% assign sidebar = site.data[page.sidebar] %}
<div class="mydocsidebar">
<div class="sidebar-inner">

<!--<div id="search-searchbar"></div>-->

<hr class="resourceSeparator"></hr>
    {% include sidebar-donate.html %}
<div class="relatedResources">{{sidebar.related_resources_title}}</div>
<ul id="entrypages">
        {% for item in sidebar.related_resources_list %}
        <li><a class="noCrossRef" href="{{item.jurl }}">{{item.title}}</a></li>
        {% endfor %}
    </li>
</ul>
</div>
</div>
<script>$("li.open").parents('li').toggleClass("open");</script>
