{{page.sidebar}}
{% assign sidebar = site.data[page.sidebar] %}
<div class="mydocsidebar">
    <div class="sidebar-inner">
        <div id="about-me">
            <div class="productTitle">关于我：</div>
            我现在是一名高校教职工，主要研究领域为大数据和高性能计算，曾在小米大数据部等一线互联网公司工作。我会在网站上发布一些文章，记录我学习、研究和思考的过程。大家也可以在微信公众号、今日头条和知乎等平台搜索<b> 皮皮鲁的科技星球 </b>找到我。
        </div>
        {% comment %}
        <div class="productTitle">博客分类</div>
        <ul id="docnavsidebar" class="docnav">
            {% for category in site.categories %}
            <li class="level1items folderTitle" ><a class="subfoldersTitle" href="/categories_{{category[0]}}">{{ category[0] }} ({{category[1] | size}})</a></li>
            {% endfor %}
        </ul>
        {% endcomment %}
    </div>
    <div class="sidebar-inner">
        {% include sidebar-donate.html %}
    </div>
</div>
<script>$("li.open").parents('li').toggleClass("open");</script>