---
title: 博客
keywords: news, blog, updates, release notes, announcements
---
<div class="home">

    <div class="post-list">
        {% for post in site.posts limit:10 %}

        <h2><a class="post-link" href="{{ post.url }}" >{{ post.title }}</a></h2>
        <div class="post-meta">
            <i class="fa fa-calendar-o"></i> {{ post.date | date: "%Y-%m-%d" }}
            &nbsp
            <i class="fa fa-tags"></i>
            {% for tag in post.categories %}
                {{tag}}
            {% endfor %}
        </div>
        <p class="post-summary">{% if post.summary %} {{ post.summary | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ post.content | truncatewords: 50 | strip_html }} {% endif %}</p>

        {% endfor %}

        <hr />

    </div>
</div>