---
title: 首页
keywords: news, blog, updates, release notes, announcements
permalink: /index.html
---
<div class="home">

    <div id="course">
        <h2>推荐教程</h2>
        <ul>
            <li class="indexItem">
                <h2><a class="post-link" href="/flink" >Flink教程</a></h2>
                <p class="post-summary">详细介绍了如何在Flink上对数据流进行有状态的计算。</p>
            </li>
            <li>
                <h2><a class="post-link" href="/gpu" >GPU教程</a></h2>
                <p class="post-summary">GPU快速入门教程。</p>
            </li>
        </ul>
    </div>

    <div class="post-list">
        <h2>最新文章</h2>
        {% for post in site.posts limit:10 %}

        <h3><a class="post-link" href="{{ post.url }}" >{{ post.title }}</a></h3>
        <div class="post-meta">
            <i class="fa fa-calendar-o"></i> {{ post.date | date: "%Y-%m-%d" }}
            &nbsp
            <i class="fa fa-tags"></i>
            {% for tag in post.categories %}
            {{tag}}
            {% endfor %}
        </div>
        <p class="post-summary">{% if post.summary %} {{ post.summary | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ post.content | truncatewords: 50 | strip_html }} {% endif %}</p>

        {% endfor %}

        <hr />

    </div>
</div>